<article>
    <div class="container">
        <div class="row">

            <!-- Gallery -->
            <% if (item.photos && item.photos.length){ %>
                <%- partial('gallery') %>
            <% } %>

            <!-- Post Main Content -->
            <div class="anchor-body katex-body markdown-body col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%- item.content %>
            </div>

            <!-- Comments -->
            <% if (item.comment!=false) { %>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <%- partial("_partial/comments.ejs") %>
                </div>
            <% } %>
        </div>
    </div>
</article>
