/*
 * github.com style (c) sjj118 <sjj118@sjj118.com>
 * GitHub Light v0.5.0
 */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-keyword{
  color: #d73a49;
}

.hljs-type{
}

.hljs-literal{
}

.hljs-number{
}

.hljs-regexp{
}

.hljs-string{
}

.hljs-subst{
}

.hljs-symbol{
}

.hljs-class{
}

.hljs-function{
}

.hljs-title{
}

.hljs-params{
}
